<!-- <html>
<head>
<title>DataTable AJAX using Python Flask PostgreSQL</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />    
<link href='https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
</head>
<body >
<div class="container" >
    <div class="row" style="padding:50px;">
        <p><h1>Python Flask Jquery Ajax Live Data Search Select Dropdown</h1></p>
			<select name="search_filter" id="search_filter" class="form-control">
            <option value="">Select Client</option>';
            {% for client in clients %}
				<option value="{{client}}">{{client}}</option>';    
			{% endfor %}
            </select>
            <input type="hidden" name="hidden_value" id="hidden_value" />
            <div style="clear:both"></div>
            <br />
        <div >
            <table id='data' class='display dataTable' width='100%'>
                <thead>
                <tr>
                    <th>Strategy</th>
					<th>Stock</th>
					<th>Signal</th>
					<th>Datetime</th>
					<th>buy_probability</th>
					<th>sell_probability</th>
					<th>current_script</th>
					<th>order_id</th>
                </tr>
                </thead>
                  
            </table>
        </div>
   </div>
</div>
<script>
$(document).ready(function() {
	// browser()
    var empDataTable = $('#data').DataTable({
    			// browser();
                'processing': true,
                'serverSide': true,
                'serverMethod': 'post',
                'ajax': {
                    'url':'/fetch_orders'
                },
                'lengthMenu': [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                searching: true,
                sort: false,
                "serverSide": true,
                'columns': [
                    { 'data': 'Strategy' },
                    { 'data': 'Stock' },
                    { 'data': 'Signal' },
                    { 'data': 'Datetime' },
                    { 'data': 'buy_probability' },
                    { 'data': 'sell_probability' },
                    { 'data': 'current_script' },
                    { 'data': 'order_id' }
                ]
            });
});
</script>
</body>
</html> -->


<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Python Flask Jquery Ajax Live Data Search Select Dropdown</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <br />
            <h2 align="center">Python Flask Jquery Ajax Live Data Search Select Dropdown</h2><br />
            <select name="search_filter" id="search_filter" class="form-control">
            <option value="">Select Client</option>';
            {% for client in clients %}
				<option value="{{client}}">{{client}}</option>';    
			{% endfor %}
            </select>
            <input type="hidden" name="hidden_value" id="hidden_value" />
            <div style="clear:both"></div>
            <br />
            <div class="table-responsive">
                <table id="data" class="table table-striped">
                    <thead>
                        <tr>
					        <th>Strategy</th>
							<th>Stock</th>
							<th>Signal</th>
							<th>Datetime</th>
							<th>buy_probability</th>
							<th>sell_probability</th>
							<th>current_script</th>
							<th>order_id</th>
					      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            
            <br />
            <br />
            <br />
        </div>
<script>
$(document).ready(function(){
    load_data();
    function load_data(query='')
    {
        $.ajax({
            url:"/fetch_orders",
            method:"POST",
            data:{query:query},
            success:function(data)
            { 
                $('tbody').html(data);
                $('tbody').append(data.htmlresponse);
            }
        })
    }
 
    $('#search_filter').change(function(){
        $('#hidden_value').val($('#search_filter').val());
        var query = $('#hidden_value').val(); 
        load_data(query);
    });
     
});
</script>
</body>
</html>

