<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">+<img src="logo.png" alt=""></a>
      <a href="#" class="nav">Stratigies</a>
      <a href="#" class="nav">Pricing</a>
      <nav class="nav-items">
        <a href="#">Login</a>
        <a href="#">SignUp</a>
      </nav>
    </header>
    <div class="motto">
      Retailers, Investors &
      High Frequency
      Traders
    </div>
    <div class="container">
      <form action="#">
        <div class="title">Login your Account!</div>
        <div class="caption">To enjoy all our cool features</div>
        <div class="input-box underline">
          <input type="text" placeholder="Enter Your Email" required>
          <div class="underline"></div>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Enter Your Password" required>
          <div class="underline"></div>
        </div>
        <div class="input-box button">
          <input type="submit" name="" value="Login">
        </div>
      </form>
        <div class="option">or Connect With Social Media</div>
        <div class="social-container">
          <span class="twitter">
            <a href="#"><i class="fab fa-twitter"></i></a>
          </span>
          <span class="facebook">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
          </span>
        <div class="signup">-- A new User? <a href="#">SignUp</a> --</div>
        </div>    
    </div>
    <footer>
      <div class="footer-container">
        <div class="left-col">
          <img src="logo.png" alt="" class="logo">
          <div class="about-us">
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
          </div>
          <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <p class="rights-text">© 2022 Created By <b>AlgoTrading</b>  All Rights Reserved.</p>
        </div>
 
        <div class="right-col">
          <div class="footer-items">
            <a href="#">About Us</a>
            <a href="#">Contact Us</a>
          </div>
          
          <h2>Our Newsletter</h1>
          <p>Enter Your Email to get our news and updates.</p>
          <form action="" class="newsletter-form">
            <input type="text" class="txtb" placeholder="Enter Your Email">
            <input type="submit" class="btn" value="submit">
          </form>
        </div>
      </div>
    </footer>
  </body>
</html>